// Place all the styles related to the public::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.link {
    text-decoration: none;
    color: red ;
}