<div class="container">
 <div class="row"> 
  <div class="col-sm-2 mt-3">
   <table class ="table-sm table-borderless">
    <thead>
     <th class="table-active h5">ジャンル編集</th>
    </thead>
   </table>
  </div>
 </div>

<%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f| %>
 <div class="row">
  <div class="col-sm-2 mt-5"><%= f.label :name, "ジャンル名" %></div>
  <div class="col-sm-3 mt-5"><%= f.text_field :name %></div>
  <div class="col-sm-3 mt-5"><%= f.submit "変更を保存", class: "btn btn-success btn-lg" %></div>
 </div>
<% end %>